body {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: rgba(0, 0, 0, 0.87)
}

/* AWS-AMPLIFY */
.amplify-form-section, .amplify-error-section {
  width: 300px !important;
}

.amplify-section-header {
  background-color: #1b1c1d !important
}

.amplify-button:hover {
  background-color: rgb(204, 204, 204) !important
}

.amplify-error-section {
  margin: auto;
}

.amplify-section-footer {
  visibility: hidden;
}

.amplify-form-container, .amplify-form-section {
  height: 208px;
}

/* SEMANTIC UI */

.ui.accordion:not(.styled) .accordion .title~.content:not(.ui), .ui.accordion:not(.styled) .title~.content:not(.ui) {
  padding-top: 0
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
  color: rgba(0,0,0,.55);
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
  color: rgba(0,0,0,.6);
}

/* DAY-PICKER-INPUT */
.DayPickerInput>input {
  padding: .5em 0em;
  margin-right: 1em;
  line-height: 1.21428571em;
  background: #fff;
  color: rgba(0,0,0,.87);
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  box-shadow: none;
  text-align: center;
  display: block;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
}

/* KOMZ SPECIFIC */

.komz-no-margin {
  margin: 0 !important;
}

.komz-float-right {
  float: right !important;
  margin-left: auto !important;
}

.komz-display-flex {
  display: flex !important;
}

.komz-grey {
  color: rgb(118, 118, 118) !important;
}
.komz-red {
  color: #db2828 !important;
}
.komz-darkred {
  color: #570f0f !important;
}

/* LAYOUT */

.komz-exec-container {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  max-width: 320px !important;
}

.komz-disp-container {
  display: block;
  margin-left: auto!important;
  margin-right: auto!important;
  width: 100% !important;
}

.komz-navbar {
  margin-bottom: 0 !important;
}

.komz-pushable {
  margin-top: 0px !important;
  height: 99999px !important;
}

.komz-sidebar {
  width: 180px !important;
}

/* DISPATCHER VIEW */

/* GENERAL COLORS */

.komz-wt-aside {
  /* background-color: rgba(255, 179, 99, 1) !important; */
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.komz-wt-rest {
  background-color: rgba(247, 239, 129, 1) !important;
}
.komz-wt-negative {
  background-color: rgba(252, 120, 113, 1) !important;
}
.komz-wt-main {
  background-color: rgba(191, 221, 126, 1) !important;
}
.komz-wt-aux {
  background-color: rgba(102, 158, 214, 1) !important;
}

/*  DAY CHART  */

.komz-dispacher-grid {
  display: grid;
  grid-template-columns: 20px 360px 1440px 20px;
  grid-template-rows: 10px 40px 400px 30px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  grid-template-areas: "pad-top-left datepicker pad-top-right pad-top-right"
                        "pad-left datepicker scale pad-right"
                        "pad-left widgets chart pad-right"
                        "pad-bot pad-bot pad-bot pad-bot";
}

.komz-chart-datepicker {
  grid-area: datepicker;
  display: flex;
  justify-content: center;
  align-items: center;
}

.komz-chart-widget-area {
  grid-area: widgets;
  background-color: rgba(34,36,38,.02);
  position: relative;
}

.komz-chart-widget {
  display:flex;
  height: 50px;
}

.komz-month-chart-widget {
  align-items: flex-end;
}

.komz-flex-item-right {
  margin-left: auto !important;
  margin-right: 15px !important;
}

.komz-scale {
  grid-area: scale;
  display: grid;
  grid-template-rows: 0.4fr 0.6fr;
}

.komz-day-scale {
  grid-template-columns: repeat(24, 1fr);
}

.komz-month-scale {
  grid-template-columns: repeat(31, 1fr);
}

.komz-scale-level1 {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  padding-left: 5px;
}

.komz-day-scale > .komz-scale-level1 {
  grid-column: 1 / 25;
}

.komz-month-scale > .komz-scale-level1 {
  grid-column: 1 / 32;
}

.komz-scale-level2 {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
  padding-left: 5px;
}

.komz-chart {
  grid-area: chart;
  background-color: rgba(34,36,38,.02);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

.komz-day-chart {
  grid-template-columns: repeat(24, 1fr);
}

.komz-month-chart {
  grid-template-columns: repeat(31, 1fr);
}

.komz-chart-column1 {
  position: relative;
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.komz-chart-column {
  border-left: 1px solid rgba(34, 36, 38, 0.15);
}

.komz-chart-column-weekend {
  background-color: rgba(0, 0, 0, 0.035)
}

.komz-workbar {
  position: absolute;
  height: 40px;
  /* padding: 5px; */
  line-height: 40px;
  /* background-color: rgba(126, 154, 154, .4); */
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  box-sizing: border-box;
}

.komz-workbar.komz-aside {
  /* background-color: rgba(255, 179, 99, 0.65); */
  background-color: rgba(0, 0, 0, 0.2);
}
.komz-workbar.komz-aside:hover {
  /* background-color: rgba(255, 179, 99, 1); */
  background-color: rgba(0, 0, 0, 0.4);
}
.komz-workbar.komz-rest {
  background-color: rgba(247, 239, 129, 0.65);
}
.komz-workbar.komz-rest:hover {
  background-color: rgba(247, 239, 129, 1);
}
.komz-workbar.komz-negative {
  background-color: rgba(252, 120, 113, 0.65);
}
.komz-workbar.komz-negative:hover {
  background-color: rgba(252, 120, 113, 1);
}
.komz-workbar.komz-main {
  background-color: rgba(191, 221, 126, 0.65);
}
.komz-workbar.komz-main:hover {
  background-color: rgba(191, 221, 126, 1);
}
.komz-workbar.komz-aux {
  background-color: rgba(102, 158, 214, 0.65);
}
.komz-workbar.komz-aux:hover {
  background-color: rgba(102, 158, 214, 1);
}

.komz-main {
  background-color: rgba(191, 221, 126, 1);
}
.komz-aux {
  background-color:  rgba(102, 158, 214, 1);
}
.komz-rest {
  background-color: rgba(247, 239, 129, 1);
}
.komz-negative {
  background-color: rgba(252, 120, 113, 1);
}
.komz-aside {
  background-color: rgba(0, 0, 0, 0.4);
}

.komz-workbar-popup-list {
  margin-left: 10px !important;
}

.komz-daybar {
  position: absolute;
  height: 50px;
  width: 40px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: grey; */
  flex-direction: column-reverse;
}

.komz-daybar > .komz-daybar-segment {
  width: 39.5px;
  flex: none;
}

.komz-daybar-popup {
  padding: 0 !important;
}

/* MONTH CHART */

.komz-disp-month-grid {
  display: grid;
  grid-template-columns: 20px 560px 1240px 20px;
  grid-template-rows: 10px 40px 400px 30px;
  border: 1px solid rgba(34,36,38,.15);
  box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  grid-template-areas: "pad-top-left datepicker pad-top-right pad-top-right"
                        "pad-left datepicker scale pad-right"
                        "pad-left widgets chart pad-right"
                        "pad-bot pad-bot pad-bot pad-bot";
}

/* CARD */
.komz-disp-cards-segment {
  padding-bottom: 2em !important;
}

.komz-disp-card {
  height: 420px;
  width: 260px !important;
  margin-bottom: 0 !important;
}

.komz-disp-card .content:nth-child(1) {
  /* height: 47px !important; */
  flex-grow: unset !important;
}

.komz-disp-card .content:nth-child(2) {
  overflow-y: auto;
}

.komz-disp-card-list .list{
  padding-top: 0.25em !important;
}

.komz-disp-card-Label {
  margin-right: 4px !important;
}

/* PROD VIEW */

.komz-prod-view-collapse-button {
  margin: 3px 3px 0 5px !important;
}

.komz-prod-line {
  height: 40px;
  display: flex !important;
  justify-content: flex-start;
  align-items: center;
  padding: 3px !important;
  cursor: default !important;
}

.komz-prod-line-header {
  padding-left: 20px !important;
  width: 240px;
  align-self: flex-start;
}

.komz-prod-line-subheader {
  float: right;
  padding-right: 30px !important;
}
.komz-prod-line-subheader>span {
  padding-left: 20px;
}

.komz-opbar {
  display: inline-block;
  height:19px;
  margin-top: 2px;
  /* line-height: 32px; */
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  cursor: pointer !important;
}
.komz-opbar-arrow {
  line-height: 22px;
  vertical-align: top;
}
.komz-opbar-subheader {
  font-family: Arial;
  line-height: 1em;
  font-stretch: ultra-condensed;
}