body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
  color: rgba(0,0,0,.55)
}

.ui.selection.list .list>.item, .ui.selection.list>.item {
  color: rgba(0,0,0,.6)
}
